* {
    box-sizing: border-box;
}

body {
  background-color: lightgray;
}

a#main-link {
  display: block;
  max-width: 600px;
  height: 160px;
  margin: 0 auto;
  background-image: url("../img/logo-thais.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/* structure */
article {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 200px;
  padding-top: 10px;
}

/* Main Content */ 
.main-content {
  width: 75%;
  margin: 0px auto;
}

.title-1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.title-2 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  color: rgb(88, 88, 88);
}

@media all and (min-width: 400px) {
  .row {
      display: flex;
      align-items: center;
    }

  .col-1-of-3 {
      width: 33%;
      margin-left: 20px;
      margin-top: 30px;
      text-align: center;
  }
  .col-2-of-3 {
      width: 33%;
      margin-left: 20px;
      margin-top: 30px;
      text-align: center; 
  }
  .col-3-of-3 {
      width: 33%;
      margin-left: 20px;
      margin-top: 30px;
      text-align: center;
  }
  /* main menu */
  ul.nav li {
    display: inline;
    background-color: black;
  }

  .nav {
    padding: 30px;
    background-color: black;
    text-align: center;
  }

  .link {
    padding: 30px;
    color: white;
    border-radius: 5px;
    text-decoration-line: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    background-color: black;
    transition: .5s;
  }

  .link:hover {
    background-color: grey;
    padding: 30px;
  }

/* footer */
footer.foot-page {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: lightgrey;
  font-weight: bold;
  padding: 10px;
}}